<div class="container">
  <div class="form-container">
    <div class="header-container">
      <app-header></app-header>
    </div>
  </div>
  <div class="form-container">
    <div class="main-container">
      <div class="selection-cont">
        <select #c1 name="" id="country1" (change)="changeBase(c1.value)">
          <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.shortCode }}</option>
        </select>
        <input type="number" [(ngModel)]="amount" (input)="onAmountChange()" placeholder="Enter amount" />
        <select #c2 name="" id="country2" (change)="toCountry(c2.value)">
          <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.shortCode }}</option>
        </select>
        <button (click)="convert()">Submit</button>
      </div>
      <div class="result-container">
        <p>{{ amount }} {{ getCurrenyName(base) }}</p>
        <p>=</p>
        <p>{{ result }} {{ getCurrenyName(cont2) }}</p>
      </div>
    </div>